<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <% if (!currentUser) { %>
            <section class="welcomeSect">
                <div class="welcomeLeft">
                    <div class="pageTitle">
                        <p>
                            Echo <span>Let your message resonate.</span>
                        </p>
                    </div>
                    <div class="ctaBtn">
                        <a href="/about">
                            <button>Get Started</button>
                        </a>
                    </div>
                </div>
                <div class="welcomeRight">
                    <img src="/imgs/ripple.jpg" alt="An image of sample messages" class="rippleImg">
                </div>
            </section>
        <% } %>

        <!-- Links -->
        <% if(currentUser) { %>

            <!-- Create message div -->
            <section class="createMsgSect">

                <!-- Create form -->
                <form action="/create-message" method="post" class="createMsgForm">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" placeholder="Post title" required value="<%= typeof flashMessages !== 'undefined' ? flashMessages.oldInput.title : '' %>"><br>

                    <label for="text_content">Content</label>
                    <textarea name="text_content" id="text_content" placeholder="Post content" rows="4">
                        <%= typeof flashMessages !== 'undefined' ? flashMessages.oldInput.text_content : '' %>
                    </textarea><br>

                    <button type="submit">Post</button>
                </form>

                <!-- Errors -->
                <% if(typeof flashMessages !== 'undefined' && flashMessages.validationErrors && flashMessages.validationErrors.length > 0) { %>
                    <ul style="color: red; list-style-type: none; padding: 0;">
                        <% flashMessages.validationErrors.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                <% } %>

                <!-- Flash messages -->
                <% if(typeof flashMessages !== 'undefined') { %>
                    <% if(flashMessages.success && flashMessages.success.length > 0) { %>
                        <div class="flashSuccess">
                            <% flashMessages.success.forEach(msg => { %>
                                <p><%= msg %></p>
                            <% }) %>
                        </div>
                    <% } %>
            
                    <% if(flashMessages.error && flashMessages.error.length > 0) { %>
                        <div class="flashError">
                            <% flashMessages.error.forEach(msg => { %> 
                                <p class="<%= msg %>"></p>
                            <% }) %>
                         </div>
                    <% } %>
                <% } %>
            </section>

        <% } %>

        <!-- Messages -->
        <section class="msgSect">
            <h2>All Messages</h2>

            <% if(messages && messages.length > 0) { %>
                <% messages.forEach(message => { %>
                    <div class="msgDiv">
                        <h3 class="msgTitle"><%= message.title %></h3>
                        <p class="msgContent"><%= message.text_content %></p>
                        <p class="msgInfo">
                            <% if(currentUser && currentUser.is_member) { %>
                                <span class="msgAuthor"><%= message.author_username %></span>
                                <span class="msgDate"><%= new Date(message.timestamp).toLocaleString() %></span>
                                <!-- flex-direction: column -->
                            <% } else { %>
                                <span class="msgAuthor">-Anonymous</span>
                            <% } %>
                        </p>

                        <% if(currentUser && currentUser.is_admin) { %>
                            <form action="/message/<%= message.id %>/delete" method="post">
                                <button type="submit" class="deleteBtn">Delete</button>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            <% } else{ %>
                <p>No messages yet. Be the first to post!</p>
            <% } %>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>